<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hajagha.dibagames.ir.hajagha">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="پرسمان مدیریت"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:screenOrientation="portrait" android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name=".Signin" />
        <activity android:screenOrientation="portrait" android:name=".MainQuestion" />
        <activity android:screenOrientation="portrait" android:name=".Question" />
    </application>

</manifest>
